<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Klanten kaart</a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Abonnementen</a></li>
      <li><a href="#">FAQ</a></li>
    </ul>
    <ul class="nav pull-right">
    	<li><a href="#">Log in</a></li>
    	<li><a href="#">Sign up</a></li>
    </ul>
  </div>
</div>